standby_mode ='on'
primary_conninfo = 'user=postgres passfile=''/var/lib/pgsql/.pgpass'' host=HOSTIP port=5432 sslmode=prefer sslcompression=1 krbsrvname=postgres target_session_attrs=any'
recovery_target_timeline='latest'